@font-face {
  font-family: "Raleway-Regular";
  src: font-url('raleway/Raleway-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: font-url('raleway/Raleway-ExtraBold.ttf');
  font-style: normal;
  font-weight: normal;
}
