$background: #202020;
$font_default: #ffffff;
$font_size: 14px;

// DEVICE WIDTHS
$tablet_width: 768px;

// AUTH
$auth_input_line: #ffffff;
$auth_input_font_color: #ffffff;
$auth_button_font_size: 25px;
$auth_checkbox_label_font_size: 12px;
$auth_link_small_font_size: 12px;

$auth_link_color: #ffffff;
